.parent{
    width: 100%;
    height:90vh ;
     background-image: url(/image/background.JPG);
    background-size: cover;
}
.nivbar{
    width: 100%;
    height: 5vh;
    display: flex;
    gap: 130px;
    margin-left: 0px;
    background-color: white;
}
.nivbar1{
    display: flex;
    gap: 40px;
    margin-left: 80px;
}
.content{
    margin-top: 180px;
    margin-left: 100px;
    width: 70%;
    font-size: 50px;
    color: white;
    border: black;
}
.main{
    margin-top: 0px;
    width: 99%;
    height:20vh ;
    
}

/* .img{
    width: 99%;
    height:80vh;
    background-image: url(/image/background.JPG);
    background-size: cover;
    margin-top: 0%;
    padding-top: 0%;
} */

.main2{
    display: flex;
    width: 70%;
    height: 10vh;
    gap: 30px;
    margin-top: 50px;
    margin-left:100px ;
    background-color: white;
    background: 10px;
    
}

.location{
    margin-top: 16px;
    margin-left: 60px;
    border-radius: 5px;
    height: 3vh;
    border-color: black;
    border-width: 10px;
}
.Date{
    margin-top: 16px;
    margin-left: 60px;
    border-radius: 5px;
    height: 3vh;
}
.Guests{
    margin-top: 16px;
    margin-left: 60px;
    border-radius: 5px;
    height: 3vh;
}
.search{
    margin-top: 16px;
    border-color: black;
    border-radius: 5px;
    height: 4vh;
    margin-left: 90px;
}
button{
    margin-top: 5px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    margin-left:90px;
}
.Logo{
color: blue;
font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.empty{
    width: 80%;
    height: 10vh;
    background-color: white;
    margin-left: 110px;
    display: flex;
    gap: 40px;
    border-radius: 15px;
}

